@use "../../Settings/scss/functions.scss";
.filterPage{
    width: 100%;
    background: #0d1117;
    min-height: 90.5vh;
}
.filterPage *{
    margin: 0;
    padding: 0;
}
.filterPage__inner{
    display: grid;
    grid-template: repeat(1, auto) / 20% 50% 30%;
    margin-right: 1rem;
}
.filterPage__bar{
    width: 100%;
    padding: 1rem 0rem;
    background: #161c25;
    border-right: 1px solid #66758b58;
    height: 100vh;
    position: sticky;
    top: 0;
}
.filterPage__bar h3{
    font-size: 20px; 
}
.filterPage__bar ul{
    list-style: none;
    width: 100%;
}
.filterPage__bar ul li{
    width: 100%;
    margin: 0.3rem 0rem;
    border-radius: 10px;
}
.filterPage__bar ul li .link{
    width: 100%;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.filterPage__bar ul li a{
    position: relative;
}
.filterPage__bar ul li a svg{
    margin-right: 0.5rem;
}
.filterPage__inner ul li:hover a{
    background: #6e76813d;
}
.active__link{
    width: 100%;
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: flex;
    align-items: stretch;
    border-radius: 10px;
    background: #6e76814d;
}
.active__link::before{
    content: " ";
    display: inline-block;
    width: 5px;
    border-radius: 10px;
    height: 80%;
    background: rgb(0, 153, 255);
    position: absolute;
    left: -0.5rem;
}
.result__count{
    position: absolute;
    right: 0;
    border-radius: 30px;
    padding: 0.3rem;
    background: #66758b9e;
    font-weight: 600;
    font-size: 13px;
}
.filter__result{
    background: #14191f;
    width: 100%
}
.filter_settings__infos{
    @include functions.flex(space-between);
    padding: 1rem 0rem;
    border-bottom: 1px solid #66758b58;
}   
.filter_settings__infos button{
    color: #66758b58;
    font-size: 13px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
.filter_settings__infos button span{
    color: #fff;
}
.filter_settings__infos button summary{
    list-style: none;
}
.filter_settings__sort{
    width: 50%;
    position: relative;
    @include functions.flex(flex-end)
}
.filter_settings__bar{
    position: absolute;
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;
    top: 2.4rem;
    left: 0;
    list-style: none;
    background-color:#181c22;
    border: 1px solid #6e77815e;
    border-radius: 10px;
    padding: 0.5rem;
    z-index: 1;
}
.filter_settings__bar form{
    width: 100%;
}
.filter_settings__bar form label{
    width: 100% !important;
    display: inline-block;
    margin: 0.3rem 0rem;
    padding: 0.5rem;
    border-radius: 10px;
}
.filter_settings__bar form label:hover{
    background: rgba(110, 118, 129, 0.24);
}
// .filter_settings__bar form label

.filter__render_user{
    width: 100%;
}

