.user__page{
    width: 100%;
}
.user_page__inner{
    display: grid;
}
.user_links__list{
    width: 50%;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 0.5rem;
}
.user_links__list li{
    position: relative;
}
.user_links__list li:not(:first-child){
    margin: 0rem 1rem;
}
.user_links__list li .user__link{
    color: #fff;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 400;
    position: relative;
}
.user_links__list li:nth-child(2) .user__link{
    padding:0.5rem 2.3rem;
    padding-left: 0.3rem;
}
.user_links__list li .user__link:hover{
    background: #6e76813d;
}
.user_links__list li svg{
    margin-right: 0.3rem;
    font-weight: 400 !important;
    color: #abb4c094;
}
.active_user__link{
    font-weight: 500 !important; 
}
.active_user__link::after{
    content: " ";
    position: absolute;
    bottom: -0.5rem;
    width: 100%;
    height: 2px;
    background: #fd8c73;
    border-radius: 5px;
    left: 0;
}
.repos__count{
    padding: 0.2rem;
    background: #6e76813d;
    border-radius: 50%;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    right: 0rem;
}
.user__page{
    background: #12171c;
    min-height: 84vh;
}
.user_page__inner{
    display: grid;
    grid-template: repeat(1, auto) / 21% 60%;
    justify-content: center;
    grid-column-gap: 20px;
}
.user_page__inner .user_page__data{
    margin-top: 2rem;
}
.user_page__inner .user_page__result{
    margin-top: 1rem;
}
.user_page__image_box{
    text-align: center;
}
.user_page__info{
    padding: 1rem 0rem;
}
.user_page__info *{
    margin: 0;
    padding: 0;
}
.user_page__info h3:nth-child(1){
    font-size: 27px;
    font-weight: 700;   
}
.user_page__info h3:nth-child(2){
    color: #6e7781be;
    font-weight: 400;
    font-size: 20px;
}
.user_page__data button, .user_overview__bottom button, .user_repo__btn {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    background: #20242a;
    color: #ffffff8d;
}
.user_page__data button:hover, .user_overview__bottom button:hover, .user_repo__btn:hover {
    border: 1px solid #f9f9f98f;
    background: #282d34;
}
.user_page__bio{
    margin: 0;
    padding: 0;
    padding: 1rem 0rem;
    font-size: 17px;
}
.user_page__follow_box{
    display: flex;
    align-items: center;
}
.user_page__follow_box a{
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}
.user_page__follow_box a svg{
    margin-right: 0.3rem;
}
.user_page__blog{
    padding-top: 0.5rem;
}
.user__overview{
    width: 100%;
}
.user__overview .overview__title_box p{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}
.overview__inner{
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 1fr);
    grid-gap: 10px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}
.overview__repo{
    border: 1px solid #6e76813d;
    border-radius: 10px;
    background: #13151b;
    padding: 1rem;
}
.overview__repo .overview_repo__top{
    display: flex;
    align-items: center;
}
.overview_repo__top a{
    margin: 0 0.5rem;
    margin-left: 0.3rem;
    font-size: 0.9rem;
    font-weight: 600;
}
.overview_repo__top a svg{
    color: #6e7781   
}
.overview_repo__language_box{
    display: flex;
    align-items: stretch;
}
.repo__language{
    display: flex;
    align-items: center;
}
.repo__language::before{
    content: " ";
    padding: 0.5rem;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 0.5rem;
}
.TypeScript::before, .CSS::before{
 background: rgb(46, 100, 153);   
}
.JavaScript::before{
    background: rgb(171, 171, 65);   
}
.SCSS::before{
    background: deeppink;
}
.C::before{
    background: rgb(46, 100, 153);

}
.HTML::before{
    background: chocolate;   
}
.user_overview__bottom small{
    padding: 1rem 0rem;
    display: inline-block;
}
.user__repositories{
    width: 100%;
    margin: 0;
    padding: 0;
}
.user__page div{
    margin: 0;
    padding: 0;
}
.user_repo__search{
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}
.user_repo__search input{
    flex-grow: 1;
}

.user_repo__btn{
    width: auto;
    border: 1px solid #6e76813d;
    padding: 0.5rem;
    color: #fff;
    display: flex;
    align-items: center;
}
.user_repo__btn svg{
    margin: 0;
    padding: 0;
}
.user_repo__btn:nth-child(1){
    margin-right: 1rem;
}
.user_repo__btn summary{
    list-style: none;
}
.search__btns{
    width: 30%;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.search__btns .user_repo__btn:nth-child(1){
    margin-left: 1rem ;
}
.user_repo__filter{
    position: absolute;
    background: #21262d;
    left: 47%;
    top: 3rem;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #6e76813d;
}
.user_repo__filter .user_repo_filter__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem;
    border-bottom: 1px solid #6e76813d;
}
.user_filter_x{
    background: transparent;
    color: #fff;
    font-size: 20px;
}
.user_repo_filter__labels{
    width: 100%;
    position: relative;
}
.user_repo_filter__labels label{
    display: inline-block;
    width: 100%;
    padding: 0.5rem;
    border-bottom: 1px solid #6e76813d;
}
.user_repo_filter__labels *{
    margin: 0;
    padding: 0;
}
.user_repo_filter__labels label:hover{
    background: #6e76813d;
}
.filter_language .user_repo__filter:last-child{
    left: 60%;
}
.user_repo__inner{
    width: 100%;
    padding: 0;
    margin: 0;
}
.user_repo__search{
    padding-bottom: 1rem !important;
    border-bottom: 1px solid #6e76813d;
}
.user_repo__inner .user__repo{
    border: 1px solid #6e76813d;
    padding: 0.5rem;
    border-radius: 10px;
}
.user_repo__inner .user__repo{
    margin: 1rem 0rem ;
}
.user_repo__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user_repo__top a{
    font-size: 20px;
    font-weight: 600;
}
.user__repo .user_repo__bottom{
    display: flex;
    align-items: center;
    padding-top: 1rem;
}
.user_repo__top div > div{
    margin-left: 1rem;
    padding: 0.3rem;
}
.user_page__pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_page__pagination button{
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
}
.user_page__projects{
    width: 100%;
}
.user_page_projects__inner{
    display: grid;
    grid-template: repeat(1, auto) / repeat(1, 1fr);
    grid-row-gap: 30px;
}
.user_page_projects__inner .user_page__dashboard{
    border: 1px solid #6e76813d;
    background-image: url("https://github.githubassets.com/images/modules/memexes/projects-beta-banner-dark.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
    border-radius: 10px;
}
.user_page__dashboard *{
    margin: 0;
    padding: 0;
}
.user_page_dashboard__info{
    width: 50%;
}
.user_page__dashboard h4{
    padding: 0.5rem 0rem;
    font-size: 25px;
    padding-bottom: 0;
}
.user_page__dashboard p{
    padding: 0.5rem 0rem;
}
.user_page_dashboard__info  button{
    background: #20242a;
    border: 1px solid #6e76813d;
    color: #ffffffa2;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
}
.user_page__create_project{
    text-align: center;
    background:#13151b;
    padding: 1rem !important;
    border: 1px solid #6e76813d;
    border-radius: 10px;
}
.user_star__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user_star__top h4{
    font-size: 25px;
    font-weight: 200;
}
.user_star__top div{
    display: flex;
    align-items: center;
}
.user_star__box {
    border: 1px solid #6e76813d;
    padding: 1rem !important;
    border-radius: 10px;
    background: #13151b;
    text-align: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user_star__box h3{
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
}